$font-family1: 'Source Sans Pro', sans-serif;
$font-family2: "Sacramento", sans-serif;
$boxShadowHover:    0 0 .2rem #fff,
                    0 0 .2rem #fff,
                    0 0 2rem #bc13fe,
                    0 0 0.8rem #bc13fe,
                    0 0 2.8rem #bc13fe,
                    inset 0 0 1.3rem #bc13fe;   